<launch>

  <arg name="model" default="$(find project2_dhmanip)/urdf/manip.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find project2_dhmanip)/rviz/urdf.rviz" />

  <arg name="d1" default="0.2" />
  <arg name="d2" default="0.2" />
  <arg name="d3" default="0.2" />
  <arg name="base_diam" default="0.4" />
  <arg name="base_height" default="0.1" />
  <arg name="link_diam" default="0.05" />
  <arg name="tool_length" default="0.05" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model) d1:=$(arg d1)
    d2:=$(arg d2) d3:=$(arg d3) base_diam:=$(arg base_diam) base_height:=$(arg base_height)
    link_diam:=$(arg link_diam) tool_length:=$(arg tool_length)"/>
  <param name="use_gui" value="$(arg gui)"/>



  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />


</launch>
