<launch>

  <arg name="model" default="$(find project3_dkin)/urdf/manip.urdf"/>
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find project3_dkin)/rviz/urdf.rviz" />

  <arg name="d1" default="0.2" />
  <arg name="d2" default="0.2" />
  <arg name="d3" default="0.2" />
  <arg name="base_diam" default="0.4" />
  <arg name="base_height" default="0.1" />
  <arg name="link_diam" default="0.05" />
  <arg name="tool_length" default="0.05" />

  <param name="robot_description" command="$(find xacro)/xacro.py $(arg model) d1:=$(arg d1)
    d2:=$(arg d2) d3:=$(arg d3) base_diam:=$(arg base_diam) base_height:=$(arg base_height)
    link_diam:=$(arg link_diam) tool_length:=$(arg tool_length)"/>
  <param name="use_gui" value="$(arg gui)"/>

  <param name="d1" value="$(arg d1)" />
  <param name="d2" value="$(arg d2)" />
  <param name="d3" value="$(arg d3)" />
  <param name="base_diam" value="$(arg base_diam)" />
  <param name="base_height" value="$(arg base_height)" />
  <param name="link_diam" value="$(arg link_diam)" />
  <param name="tool_length" value="$(arg tool_length)" />

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="nonkdl_dkin" pkg="project3_dkin" type="nonkdl_dkin.py" output="screen" />
  <node name="kdl_dkin" pkg="project3_dkin" type="kdl_dkin.py" />


</launch>
