<launch>
  <node name="oint" pkg="project4_intpol" type="oint.py" output="screen" />
  <node name="kdl_dkin" pkg="project3_dkin" type="kdl_dkin.py" output="screen" />
  <node name="inkin" pkg="project5_inkin" type="ikin.py" output="screen" />
  <node name="ocmd" pkg="project5_inkin" type="ocmd.py" output="screen" />
</launch>
